* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; 
    background-color: #000;
    color: #fff;
    font-size: 1.5em;
    width: 100%;
    /* height: 100vh; */
}

.container {
    width: 40rem;
    height: auto;
    padding-top: 2em;
}

.slider-controls {
    display: flex;
}

.slider-item-radio {
    display: none;
}

.control-item {
    width: 2rem;
    height: 2rem;
    display: block;
    cursor: pointer;
}

.control-item + .control-item {
    margin-left: 2rem;
}

.control-item-dot {
    background-color: skyblue;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    transition: all 0.3s ease;
    display: block;
}

.control-item:hover .control-item-dot {
    border-color: #fff;
    background-color: #fff;
}

.control-item:active .control-item-dot {
    background-color: skyblue;
    border-color:  skyblue;
}

#slide-1:checked ~ .slider-info .slider-controls .control-item:nth-child(1) .control-item-dot,
#slide-2:checked ~ .slider-info .slider-controls .control-item:nth-child(2) .control-item-dot,
#slide-3:checked ~ .slider-info .slider-controls .control-item:nth-child(3) .control-item-dot,
#slide-4:checked ~ .slider-info .slider-controls .control-item:nth-child(4) .control-item-dot,
#slide-5:checked ~ .slider-info .slider-controls .control-item:nth-child(5) .control-item-dot
{
    border: 0.2rem solid #fff;
    background-color: transparent;
}



.slider {
    width: 100%;
    overflow: hidden;
    height: 25rem;
}

.slider-inner {
    display: flex;
    transition: all 0.3s ease;
    width: calc(100% * 5);
    height: 100%;
    margin-left: 0;
}

.slider-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 2rem;
}


.slider-item {
    width: calc(100% / 5);
    height: 100%;
    object-fit: cover;
    display: block;
}

.slider-titles {
    overflow: hidden;
    width: 50%;
}

.slider-titles-container {
    width: 500%;
    display: flex;
    transition: all 0.3s ease;
}

.title {
    width: 25%;
}


/* механика */

#slide-1:checked ~ .slider .slider-inner,
#slide-1:checked ~ .slider-info .slider-titles .slider-titles-container {
   transform: translateX(0);
}

#slide-2:checked ~ .slider .slider-inner,
#slide-2:checked ~ .slider-info .slider-titles .slider-titles-container{
   transform: translateX(-20%);
}

#slide-3:checked ~ .slider .slider-inner,
#slide-3:checked ~ .slider-info .slider-titles .slider-titles-container {
   transform: translateX(-40%);
}

#slide-4:checked ~ .slider .slider-inner,
#slide-4:checked ~ .slider-info .slider-titles .slider-titles-container {
   transform: translateX(-60%);
}

#slide-5:checked ~ .slider .slider-inner,
#slide-5:checked ~ .slider-info .slider-titles .slider-titles-container {
   transform: translateX(-80%);
}


@media (max-width: 620px) {
    .container {
        width: 20rem;
    }

    .slider {
        height: 13rem;
    }

    .slider-titles-container {
        font-size: 1rem;
    }

    .slider-info {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .slider-controls {
        justify-content: center;
    }
    .slider-titles {
        align-self: flex-start;
    }
    
}

